$primary-color: #5D5D5D;

*{
    transition: all ease-in-out 0.4s;
}

body{
    font-family: 'Raleway', sans-serif;
    color: $primary-color;
}

a{
    color: $primary-color !important;
}

.btn-default{
    display: block;
    font-size: 29px;
    line-height: 34px;
    font-weight: 600;
    max-width: 276px;    
    text-align: center;
    border:1px solid $primary-color;
    border-radius: 8px;
    padding: 12px;
}

.site-logo{
    text-align: center;
    border-bottom: 4px solid $primary-color;
    padding-top: 34px;
    padding-bottom: 15px;    
}

.main-products{
    position: relative;
    padding-bottom: 106px;
    .developer-sign{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 40px;        
    }
}

.main-product-listing{    
    margin: 169px 0;
    padding: 0 40px;
}

.main-product-box{
    min-height: 410px;
    max-width: 410px;    
    box-shadow: 8px 2px 20px 0px rgba(0,0,0,0.5);
    margin: 0 auto 75px auto;
    padding: 40px 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .item-link{
        text-align: center;

        .btn{
            margin: 0 auto;
        }
    }
}

.product-description{
    padding: 0 40px;
    max-width: 356px;
    margin-right: auto;
    margin-left: -15px;
    box-shadow: 8px 2px 20px 0px rgba(0, 0, 0, 0.5);
    height: 100%;
}

.product-info{
    margin-top: 50px;
    h2{
        font-size: 31px;
        font-weight: 600;
        line-height: 36px;
        margin: 20px 0;
    }

    .btn{
        margin: 75px 0;
    }
}

.product-info-list{
    margin-bottom: 75px;

    li{
        font-size: 19px;
        line-height: 22px;
        margin-bottom: 10px;
        margin-right: 20px;

        label{
            display: block;
            font-size: 20px;        
            margin: 0;
            font-weight: 800;
        }
    }    
}

.product-option-list{
    .card{
        border-radius: 0;
        border:0;
        margin-bottom: 30px;        
    }

    .card-header{
        padding: 0;
        border:0;
        background-color: rgba(0,0,0,0);        
        a.btn{
            cursor: pointer;
            background-image: url('../images/option-active-bg.png');
            color: #ffffff !important;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            padding: 12px;
            font-size: 21px;
            font-weight: 700;
            line-height: 25px;
            display: block;            
            margin-bottom: 5px;            
        }

        a.collapsed{
            background-image: none;
            font-weight: normal;
            background-color: #D8D8D8;
            border:1px solid #979797;
            color: $primary-color !important;
        }
    }
}

.option-color-container{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .option-color{
        display: flex;
        flex-direction: column;
        a{
            display: inline-block;
            margin-bottom: 20px;
        }

        a:last-child{
            margin-bottom: 0;
        }
    }
}

.product-slider-section{
    box-shadow: -8px 2px 20px 0px rgba(0, 0, 0, 0.5);
    max-width: 200px;    
    height: 100%;
    margin-left: auto;
    margin-right: -15px;    
}

.product-show-area{
    position: relative;
    
    .product-image{
        max-width: 700px;
        margin: 0 auto;

        img{
            max-width: 100%;
            height: auto;            
        }
    }

    .developer-sign{
        text-align: right;
        margin-bottom: 29px;
    }

    .product-area-scroller{
        display: flex;
        justify-content: flex-end;
        margin: 20px 0;
        margin-right: -15px;

        .btn-default{
            font-size: 18px;
            font-weight: 900;
            line-height: 21px;            
            padding: 7px 9px;
            margin-left: 15px;
            margin-top: -3px;
        }
    }
}


.slidecontainer {	
	padding-left: 14px;
	padding-right: 27px;
	position: relative;
    width: 103px;
    float: left;
}

.slidecontainer::before {
	position: absolute;
	content: url('../images/min-light.png');	
	left: 0;
}

.slidecontainer::after {
	position: absolute;
	content: url('../images/max-light.png');	
	right: 0;
}

.slider {
    vertical-align: middle;
	-webkit-appearance: none;
	appearance: none;
	width: 50px;
	height: 3px;
	background: $primary-color;
	outline: none;
	-webkit-transition: .2s;
	transition: opacity .2s;
}
.slider::-webkit-slider-thumb {
    border-color: $primary-color;
	-webkit-appearance: none;
	appearance: none;
	width: 4px;
    height: 10px;
    border-color: rgba(0,0,0,0);
	background: $primary-color;
    cursor: pointer;
    border-radius: 0;
}

.slider::-moz-range-thumb {
    border-color: $primary-color;
    border-radius: 0;
	width: 4px;
    height: 10px;
    border-color: rgba(0,0,0,0);
	background: $primary-color;
	cursor: pointer;
}

.product-slider-section{
    padding: 22px;
    padding-top: 66px;
    position: relative;
}

.product-type-option{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 22px;

    .btn-default{
        font-size: 18px;
        font-weight: 900;
        line-height: 21px;
        padding: 7px 9px;
    }

    .dropdown-menu{
        width: 100%;
        border-radius: 8px;
        border: 1px solid #5D5D5D;
        min-width: auto;
        overflow: hidden;

        a{
            border-bottom: 1px solid #5D5D5D;            

            &:hover{
                background-color: #979797;
                color: #ffffff !important;
            }
        }

        a:last-child{
            border: 0;
        }
    }
}

.product-slider{
    padding: 120px 0;
    height: 100%;

    .product-item{
        padding: 30px 0;

        img{
            max-width: 100%;
        }
    }
}

.slick-arrow{
    font-size: 0;    
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 60px;
    border:0;
    background-color: rgba(0,0,0,0);
    position: absolute;    
}

.slick-prev{    
    background-image: url('../images/up-arrow.png');    
    top: 22px;
}

.slick-next{
    background-image: url('../images/down-arrow.png');
    bottom: 22px;
}

.site-logo{    
    img{
        max-width: 100%;
        height: auto;
    }
}

.product-right{
    .site-logo{
        display: none;
    }
}

@media(max-width:1199px){

    #header{
        text-align: center;        
        .site-logo{
            display: inline-block;
            padding: 45px 70px 10px 70px;
            img{
                width: 212px;
            }
        }
    }    

    .main-products{
        padding-bottom: 55px;
    }

    .main-product-listing {
        padding: 0;
        max-width: 657px;
        margin: 50px auto;
        margin-bottom: 0;
    }

    .main-product-box{
        min-height: 292px;
        max-width: 292px;
    }

    .main-products .developer-sign {
        margin-top: 50px;
        position: static;
        transform: initial;
        width: 123px;
        margin: 0 auto;

        img{
            max-width: 100%;
        }
    }

    .product-description{
        max-width: none;
        padding: 30px 30px 0 30px;
        margin: 0 -15px;
        height: auto;
        width: auto;
        z-index: 5;
        position: relative;

        .site-logo {
            padding-top: 0;
            display: inline-block;
        }
    }

    .product-right{
        overflow: hidden;
    }

    .product-info {
        margin-top: 30px;
    }

    .product-info-list{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    .product-info .btn {
        margin: 30px 0;
    }

    .product-option-list{
        display: flex;
        flex-direction: column;        
        justify-content: flex-end;
        align-self: center;
        height: 100%;        
    }    

    .option-color-container {        
        flex-wrap: wrap;
        flex-direction: row;
    }

    .option-color-container .option-color {        
        flex-direction: row;
        flex: 0 0 50%;
        max-width: 50%;
        padding: 0 15px;
        justify-content: space-between;
    }
}

@media(max-width:767px){
    .site-logo {
        display: block;
        padding-left: 0;
        padding-right: 0;
    }

    .main-product-listing {        
        margin-top: 60px;       
    }

    .main-products {
        padding-bottom: 18px;
    }

    .product-left{
        .site-logo{
            display: none;
        }
    }

    .product-slider-area{
        display: none;
    }

    .product-left{
        order: 2;        
    }    

    .product-right{
        .developer-sign{
            display: none;
        }
    }

    .product-description{
        box-shadow: none;
    }

    .desc-area{
        order: 2 !important;
    }

    .product-right .site-logo {
        display: block;
    }

    .product-show-area .product-area-scroller {
        justify-content: space-between;
        margin-right: 0;
    }

    .product-description {        
        padding: 0 50px;        
    }

    .option-color-container .option-color {        
        flex-direction: column;        
        flex: auto;
        padding: 0;
        text-align: center;
    }

    .product-info-list {        
        flex-direction: column;
    }

    .product-info {
        margin-top: 0;    
    }

    .product-info .btn {
        margin: 80px 0;
    }
}